body {
    background-image: url("https://cdn.pixabay.com/photo/2020/03/16/12/16/apple-4936853__480.jpg");
    color:white;
    font-size: 16;
}

p {
    font-size: 16px;
    text-align: center;
}

h1{
    font-size: 25px;
    text-align: center;
    color: white;
}

.recipe_month {
    text-alighn: center;
    color: white;
}
p[class="easy"] {
    font-size: 25px;
}
